
/* Punto 2 de la práctica
h1{
    background-color: red;
    color:white;
    border: dotted green 10px;
    border-radius: 5px;
    font-size: x-large;
    padding: 10px;
    text-align: center;
}
h2{
    background-color: black;
    color:blueviolet;
    border-radius: 5px;
    border: solid green 5px;
    font-size: x-small;
    text-transform: uppercase;
    

}

p{
    background-color: aquamarine;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}
*/


/*Punto 3*/

/*Selector universal*/

* {
  margin: 5px;
  padding: 5px;
}

/*Selector de etiqueta*/

p{
    color:red;
}

/*Selector de clase*/

.texto-importante{
    background-color: black;
    color: white;
}

/*Selector de id*/

#apartado3{
    border: solid blue 3px;
}

/*Selector descendiente*/

.contenedor-interno p{
    background-color: blueviolet;
}

/* hijo directo*/

.lista-selectores > li{
    font-style: italic;
    font-size: x-small;
}

/*hermanos adyacentes*/
.contenedor-interno + p{
    background-color: aquamarine;
}

/*pseudoclases*/

/*hover*/
.boton-hover:hover{
    background-color: black;
    color:white;
}
/*active*/
button:active{
    background-color: blue;
    color: white;
}
/* first-child*/
li:first-child {
  background-color: red;
}

/* pseudoelementos*/

/*before*/
p::before {
  content: "&";
  color: green;
  font-size: x-large;
}
/*after*/
p::after{
    content: "@";
    color:brown;
    font-size: x-large;
}
/*Punto 4*/
.tarjeta-ejemplo{
    margin: 20px 15px 20px 15px;
    padding: 10px;
    border: solid black 5px;
    border-radius: 5px;
    background-color:blueviolet;
    width:300px;
    height:200px;
    box-sizing: border-box;
    
}
/*Punto 5*/

.posicionamiento-estatico{ /* no se mueve*/ 
    position:static;
    border: solid black 5px;
}
.posicionamiento-relativo{ /* se mueve pero guarda su espacion en el html*/
    position:relative;
    top: 200px;
    left: 100px;
    border: solid black 5px;
    padding: 10px 15px 10px 15px;
}
.caja-absolute{ /*Se mueve y deja de tener su espacio en el html*/
    position:absolute;
    top: 100px;
    left: 300px;
    border: solid black 5px;
    padding: 10px 15px 10px 15px;
}
.posicionamiento-fixed{ /* se pega a un punto y núnca desaparece de la pantalla*/ 
   
    position: fixed;
    top: 10px;
    right: 10px;
    border: solid black 2px;
    background: green;
    color: white;
    padding: 10px 15px 10px 15px;
    
}
.caja-float{ /* se mueve y deja libre su espacio*/ 
    float:right;
    border: solid black 5px;
    padding: 10px 15px 10px 15px;
    background-color: aqua;
}
/* punto 6 */

/*Tablas*/
table{   
    border-collapse: collapse;
}
 th,td {
    border: 1px solid #333;
    padding: 10px;
}
thead{
    background-color: black;
    color:white;
}


/* Filas alternas (striped) */

tbody tr:nth-child(odd) {
    background-color: gray;
}

 tbody tr:nth-child(even) {
    background-color: white;
}

/*Listas*/

.lista-personalizada{
    list-style: none;
    padding: 20px;
    margin: 10px 20px 10px 20px;
}
.lista-personalizada li::before{
    content: "#";
}